page-documents {

}
.list-panel .bottom--info.three-columns small { -webkit-flex: 0 0 33%; -ms-flex: 0 0 33%; flex: 0 0 33%; max-width: 33%; }
a.color-blue { color: #3366cc;     text-decoration: none; }