/node_modules
/.idea
/.sourcemaps
/config
/.idea
/gen
/platforms
/plugins
/resources
/srcios2
/src_old
/www
.DS_Store
config.xml
GoogleService-Info.plist
google-services.json
google-services_old.json
ionic.config.json
package.json
package-lock.json
toptech-release-key.jks
tsconfig.json
tslint.json
.editorconfig


