/node_modules
/.idea
/.sourcemaps
/config
/.idea
/gen
/platforms
/plugins
/resources
/srcios2
/src_old
/www
.DS_Store
config
GoogleService-Info.plist
google-services
google-services_old
ionic.config
package
package-lock
tsconfig
tslint


