/* Force all the ionic elements to be scrollable, in order to fix iOS 12.2 scroll bug*/
ion-view { pointer-events: auto;}
ion-scroll { pointer-events: auto;}
ion-modal-view { pointer-events: auto;}
ion-popover-view { pointer-events: auto;}
/* Disable the scroll of the main view elements if the modal or the popver are being shown*/
body.modal-open ion-nav-view, body.modal-open ion-nav-view ion-content, body.modal-open ion-nav-view ion-view{
    overflow: hidden!important;
}
body.popover-open ion-nav-view, body.popover-open ion-nav-view ion-content, body.popover-open ion-nav-view ion-view{
    overflow: hidden!important;
}
body.popup-open ion-nav-view, body.popup-open ion-nav-view ion-content, body.popup-open ion-nav-view ion-view{
    overflow: hidden!important;
}
body.modal-open ion-nav-view ion-view ion-scroll, body.popover-open ion-nav-view ion-view ion-scroll, body.popup-open ion-nav-view ion-view ion-scroll{
    pointer-events: none!important;
    overflow: hidden!important;
}



image-viewer.ion-page .image-wrapper {
    margin: 30px;
    margin-top: 56px;
}
.userselectable{
-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}
ion-infinite-scroll-content{
        min-height: 10px;
}
// .ios page-message-details .conversation-panel {
//     padding-bottom: 20px;
// }
// .ios page-message-details ion-content .chat{
//         margin-bottom: 65px;
// }
page-message-details {
    background-color: #fff;
    ion-header{
        box-shadow: 0px -5px 10px 2px #6a6a6a;
        background-color: rgba(255, 255, 255, 0.80);
    }

    ion-navbar{
        .toolbar-background{
            background-color: transparent !important;
            border: 0 !important;
        }
        .right_content {
    position: absolute;
    right: 10px;
    z-index: 2;
    margin: 0;
    display: flex;
    img{
        width: 35px;
        height: 35px;
        border-radius: 40px;
    }
.single-letter{
            overflow: hidden;
width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        border-radius: 40px; 
        font-weight: 500;
    font-family: 'Roboto';
        text-transform: capitalize;
            color: #ffffff;
        background-color: #3366cc;
}
}
    figure{
        width: 35px;
    height: 35px;
    border-radius: 40px;
        img{
width: 100%;
    height: 100%;
    object-fit: cover;
    }
    }

    }
.no-right .center {
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    .back_icon {
    width: 20px;
    height: 20px;
    background-image: url(../assets/imgs/backarrow-blue.svg);
    background-size: contain;
    margin-right: 10px;
}
.phonecall{
        width: 20px;
    position: absolute;
    right: 70px;
    z-index: 2;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    .title{
            text-transform: capitalize;
            color: #000;
    font-weight: bold;
    background-color: transparent !important;
    font-size: 16px;
    padding: 0 70px 0px 10px;
    text-align: left;
    span{
        width: 100%;
        display: block;
    }
    .title-head{
        font-size: 15px;
        font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        a{
            text-decoration: none;
        }
    }
    .title-sub-head{
        font-size: 12px;
        color: #6f6f6f;
        a{
            text-decoration: none;
        }
    }
    }
}
	ion-content{
		// background-color: #fff !important;
  background-image: url(../assets/imgs/pattern-taighaTline.png);
    background-size: 48%;
    background-position: center;
    background-repeat: repeat;
    &:before{
        background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    }

figure.preview-image {
    width: 100%;
    height: 200px;
    max-height: 200px;
    margin: 0 auto;
         display: flex; 
     align-items: center; 
   justify-content: center;
    img{
width: 100%;
    margin: 0;
    height: 100%;
    object-fit: contain;
    }
}
#myInput {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
}
		.chat{
    // height: 55%;
    // overflow-x: scroll;

   // margin-bottom: 300px;
    border: 0px solid #eee;
   // padding: 0px 7px 15px 7px;
   padding: 0px;
     //   margin-bottom: 90px; // for android
       margin-bottom: 110px;
       .msg-media{
        strong{
            display: flex;
    align-items: center;
        padding-top: 6px;
        }
       }
       ion-slide {
        margin: 0 auto;
    max-width: 120px !important;
}
    .multipleimg {
        overflow-x: scroll;
        .media-text {
            flex: 0 0 33%;
            padding: 0 2px;
        }
    }

			.sent-message{
                margin-left: 20px;
				p{
                    -webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
                    white-space: pre-line;
					line-height: 19px;
                    // new
                          line-height: 20px;
                    // neww
					background-color: #3366CC;
					padding: 10px 15px;
					color: #fff;
					border-radius: 10px 10px 0px 10px;

					margin-bottom: 5px;
                        font-size: 16px;
                        // new
                          font-size: 17px;
                    // neww
    word-spacing: 2px;
    box-shadow: -3px 3px 10px -4px #434343;
    font-family: 'Roboto';
				}
				span{
    font-size: 10px;
    // new
font-size: 12px;
    // neww
    width: 100%;
    text-align: right;
    display: block;
    font-family: sans-serif;
    color: #3b3b3b;
                    &.msg-media{
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;

    img{
        margin-right: 5px;
    }
                }
                       &.media-text{
                                    display: flex;
    align-items: center;
        padding-top: 6px;
        font-size: 12px;
        color: #fff;
        word-break: break-all;
       }
				}

			}
			.received-message{
                margin-right: 20px;
				p{
                    -webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
                    white-space: pre-line;
					line-height: 19px;
                    // new
                          line-height: 20px;
                    // neww
					padding: 10px 15px;
					color: #000;
					border-radius: 10px 10px 10px 0px;

					margin-bottom: 5px;
					background-color: #fff !important;
                        font-size: 16px;
                        // new
                          font-size: 17px;
                    // neww
    word-spacing: 2px;
    box-shadow: 3px 3px 10px -4px #434343;
    font-family: 'Roboto';
				}
				span{
    font-size: 10px;
    // new
font-size: 12px;
    // neww
    width: 100%;
    text-align: left;
    display: block;
        font-family: sans-serif;
    color: #3b3b3b;
                        &.msg-media{
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;

        img{
        margin-right: 5px;
    }
                }
                &.media-text{
                                display: flex;
    align-items: center;
        padding-top: 6px;
                font-size: 12px;
                color: #000;
                word-break: break-all;
                }
				}
			}


		}

	}
.choosefile{
	ion-label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    .upload-btn-wrapper{
    	    margin: 0;
    	    margin-bottom: 15px;
    	.semi-border-btn{
         &.u-btn{
         	border-radius: 5px;
height: 35px;
    width: 150px;
    line-height: 14px;
         }
    	}
    }
}
}
ion-input{
	    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 48px;
    max-width: 100%;
    border: 1px solid #eee;
    padding-left: 15px;
    border-radius: 5px;
}
.common-textarea-panel{
    ion-label{
    margin: 5px 0;
    }
}
        .conversation-panel{
            position: absolute;
            box-shadow: 0px 5px 12px 2px #6a6a6a;
    bottom: 0;
    z-index: 99999;
    background-color: white;
    left: 0;
    right: 0;
 //   padding: 7px 15px;
    padding: 7px 10px;
    //     display: flex;
    // align-items: center;
    // justify-content: space-between;
    // overflow-x: scroll;
    // height: 45%;
//     margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
// margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
margin-bottom: 0px;
.floatbtn{
    position: absolute;
    top: -100px;
    right: 7px;
        .floatbtn-height{
            height: 45px;
            width: 30px;
        }
    
    button{
        width: 30px;
    height: 30px;
    background-color: #0000009c;
    border-radius: 40px;
    box-shadow: 1px 3px 9px -3px #333;
    display: block;
    margin-bottom: 15px;
    }
}
    .conversation-panel-demo {
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 2px;
        figure{
            margin: 0 !important;
            position: relative;
            width: 100px;
    height: 100px;
        background-color: #f3f3f3;
    border: 1px solid #eee;
        .delete-icon{
    position: absolute;
    right: -7px;
    top: -7px;
    display: flex;
    align-items: center;
        }
        img.rounded{
            width: 100%;
    height: 100%;
    object-fit: contain;

        }
        }
}
    .message-area-panel{
            background-color: white;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
        display: block;
    width: 100%;
    position: relative;
    z-index: 9999;
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
    .message-area-text {
    //  border: 0; 
    // width: 100%;
    // height: 40px;
    // max-height: 150px;
    // padding: 7px 0px;
    border: 0;
    width: 100%;
    height: 40px;
    max-height: 150px;
    padding: 10px 0px;
    font-size: 16px;
    font-family: 'Roboto';
    max-height: 150px;
    width: 100%;
    height: 40px;
    min-height: 40px;
    font-size: 16px;
    font-family: 'Roboto';
    border: 0;
    background: transparent;
    resize: none;
}
    .message-area-bottom{
        display: inline-flex;
    width: 100%;
    }
    }
    .message-area{
     //   background-color: #e8e8e8;
        border-radius: 5px;
        width: 85%;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        padding-right: 7px;
     textarea{
    max-height: 150px;
    width: 100%;
    height: 40px;
    min-height: 40px;
    font-size: 16px;
        font-family: 'Roboto';
    border: 0;
    background: transparent;
    resize: none;
        padding: 10px 10px;
     }
     img{
        // margin: 0 10px;
        margin-right: 10px;
     }
     .upload-btn-wrapper{
        img{
            margin: 0 10px;
        }
     }
    }
    .message-btn{
        width: 15%;
    //         display: flex;
    // justify-content: flex-end;
        button{
    //             background-color: #3366CC;
    // color: #fff;
    // padding: 10px 10px;
    // height: 40px;
    // border-radius: 5px;
    //     width: 50px;
    background-color: #3366CC;
    color: #fff;
    padding: 10px 10px;
    height: 35px;
    border-radius: 40px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px -4px #848484;
    margin: 0 auto;
    margin-right: 7px;
        img{
            width: 17px;
        }
        }
    }
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
        }
// .sticky-btn {
//     padding-bottom: 5px;
//     position: sticky;
//     bottom: 0;
//     position: fixed;
//     bottom: 0;
//     background-color: #EFEFEF;
//     z-index: 9999;
//     height: 75px;
//     left: 0;
//     right: 0;
//             @include flexbox;
//             @include align-items($value: center);
//             @include justify-content($value: space-around);
// }


}
.refresh{
           top: -200px;
        button{
width: 30px !important;
    height: 30px  !important;
    background-color: #0000009c;
    display: flex !important;
    align-items:center;
    justify-content: center;
                    img{
            width: 13px !important;
            height: 13px !important;
            min-width: 13px !important;
            min-height: 13px !important;
            margin: 0 !important;
            flex: 0 0 13px;
            max-width: 13px;

        }
        }

}
.updown{
    top: -250px;
            button{
width: 30px;
    height: 30px;
    background-color: #0000009c;
    display: flex;
    align-items:center;
    justify-content: center;
            img{
            width: 15px !important;
            height: 15px !important;
            min-width: 15px !important;
            min-height: 15px !important;
            margin: 0 !important;
            flex: 0 0 15px;
            max-width: 15px;
        }
        }


}
ion-fab {
    bottom: 10px;
    right: 3px !important;
}
ion-modal{
&.template-modal{
        padding: 20% 10% !important;
        ion-backdrop{
            visibility: visible !important;
        }
        .modal-wrapper{
            border-radius: 10px;
            position: relative;
        }
        }
}

// .template-modal {
//     --height: 50% !important;
// }