<!--
  Generated template for the DocumentviewmodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

      <ion-navbar class="no-right">
        <!--  <ion-col class="left" (click)="back()">
            <ion-icon class="back_icon"></ion-icon>
        </ion-col> -->
        <div class="center">
            <i class="back_icon" (click)="back()"></i>
            <p class="title">History & Recipients</p>
            <!--  <ion-title *ngIf="!ticket">TICKET</ion-title> -->
        </div>
    </ion-navbar>
</ion-header>
<ion-content padding>
<div *ngIf="!showSpinner">
    <ion-card class="view-card" *ngIf="documentData.pma">
        <ion-card-header>
            <ion-card-title>{{ documentData.pma.customername }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="view-content-panel propinfo-text-panel list-panel">
            <ion-grid>
                <ion-row *ngIf="documentData.pma.propertiesaddress">
                    <ion-col col-12>
                        <p>
                            <label>Property : </label><strong class="blue-text-bold" (click)="viewProperties(documentData.pma.property_id)">{{ documentData.pma.propertiesaddress }}</strong>
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row class="last">
                    <ion-col col-4>
                        <p>
                            <label class="d-block">Agreement date : </label><span>{{ documentData.pma.agreement_date_formatted }}</span>

                        </p>
                    </ion-col>
                    <ion-col col-4>
                        <p>
                            <label class="d-block">Start date : </label><span>{{ documentData.pma.start_date_formatted }}</span>

                        </p>
                    </ion-col>
                    <ion-col col-4>
                        <p>
                            <label class="d-block">End date : </label><span>{{ documentData.pma.end_date_formatted }}</span>

                        </p>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card class="view-card" *ngIf="documentData.recipients">
        <ion-card-header>
            <ion-card-title>Recipients</ion-card-title>
        </ion-card-header>
        <ion-card-content class="view-content-panel tickets-text-panel">
            <ion-list class="list-panel">
                <ion-item *ngFor=" let recipient of documentData.recipients ">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12>
                                <p>
                                    <label>Name : </label>{{ recipient.name }} - {{ recipient.email }}</p>
                            </ion-col>
                            <ion-col col-12>
                                <p>
                                    <label>Status : </label>{{ recipient.status }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="view-card" *ngIf="documentData.histories">
        <ion-card-header>
            <ion-card-title>History</ion-card-title>
        </ion-card-header>
        <ion-card-content class="view-content-panel mails-text-panel">
            <ion-list class=" list-panel">
                <ion-item *ngFor=" let history of documentData.histories ">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12>
                                <p class="has-icon">
                                    <i class="address-icon"><img src="assets/icon/activities-blue.svg" width="20" height="20"></i>{{ history.activity }}
                                </p>
                            </ion-col>
                        </ion-row>
                        <ion-row class="last">
                            <ion-col col-6>
                                <p>
                                    <label class="d-block">Time : </label>{{ history.auditDataTime }}</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>
                                    <label class="d-block">User : </label>{{ history.user }}</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>
                                    <label class="d-block">Action : </label>{{ history.action }}</p>
                            </ion-col>
                            <ion-col col-6>
                                <p>
                                    <label class="d-block">Status : </label>{{ history.status }}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>

        </ion-card-content>
    </ion-card>
</div>
    <div class="spinner center" *ngIf="showSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</ion-content>