page-mails {
// 	ion-content{
// 		background-color: #fff !important;
// 	}
// ion-list{

// 	ion-item{
// 	background-color: rgba(51,102,204,0.15) !important;
//     border-radius: 5px !important;
//     overflow: hidden !important;
//     border-left: 5px solid #3366CC !important;
// 		    margin-bottom: 15px !important;
// 	}
// 	ion-label{
// 		display: flex;
// 	    align-items: center;
// 	    justify-content: space-between;
// 	}
// .lead-detail{ 
// 	span {
//     display: flex;
//     align-items: center;
//     margin-bottom: 3px;
//     img{
//     margin-right: 10px;
//     border-radius: 40px;
//     }
//     p{
//     	font-size: 14px;
//     font-weight: bold;
//     color: #000;
//         padding-left: 0px;

//     }
// }
// p{
// 	font-size: 14px;
//     font-weight: bold;
//     color: #000;
//         padding-left: 5px;
// }
// }
// ul{
// 	display: flex;
//     align-items: center;
//     margin: 0;
//     list-style-type: none;
// }
// .active-badge {
// background-color: rgba(51,102,204,0.43) !important;
// color: rgba(0,26,198,0.80) !important;
// }

// }
// .list-title-panel{
// 	    margin-bottom: 5px;
// span {
//     color: #000;
//     white-space: pre-line;
//     font-size: 14px;
//     font-weight: bold;
//     line-height: 21px;
//     width: 100%;
//     display: block;
// }
// }
.nav-custom{
	    justify-content: center;
}
.btn{
	&.commonbtn{
		    border-radius: 4px;
    /* position: relative; */
    padding-left: 0;
    padding-right: 0;
    /* right: 0; */
    background: #3366cb;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
    height: 27px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    width: 150px;
    float: right;
    margin-bottom: 10px;
    &:hover {
    background: #3366cb;
    color: #ffffff;
}
	}
}

}
