<!-- <ion-header>
    <ion-navbar class="no-right list-navbar">
  <ion-col no-padding class="hdr-left">
        <img src="assets/imgs/menu.svg" (click)="openHomeSearchmenu()"  width="30" height="30" />
      </ion-col>
        <div class="center">
            <p class="title">Activities</p>
        </div>
    </ion-navbar> -->
<!--     <ion-navbar class="filter-panel">
        <ion-grid>
            <ion-row>
                <ion-col class="no-border" text-center col-12 >
                        <span (click)="openfilterModal({charNum: 0})">Filter
                        <i>
                            <img src="assets/icon/filter-filled.svg" width="15" height="15">
                            <span *ngIf="isFilterApplied" class="filter-applied"></span>
                        </i>
                        </span>
                        <span *ngIf="isFilterApplied" class="reset-filter" (click) = "resetFilter()" >Reset</span>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar> -->
<!-- </ion-header> -->

<ion-header padding-left padding-right class="homesearch blue-header">
    <ion-grid class="blue-header-inner">
      <ion-row>
        <ion-col no-padding class="hdr-left">
        </ion-col>
        <ion-col no-padding col-6 class="hdr-center">
          Activities
        </ion-col>
        
        <ion-col no-padding class="hdr-right">
<!--           <i class="arrow-bg"  (click)="goBack()">
                    <img src="assets/imgs/close-white.svg" width="25" height="25">
                </i> -->
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>
<ion-content padding class="activitylog-text-panel">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p class="records-found" *ngIf="!showSpinner">{{ totalRecords }} records found.
         <img src="assets/icon/arrow-up-scroll.svg" id="top_of_activity_das" width="" height="" class="arrowimage down top-zero" *ngIf="activities.length > 0" (click) = "scrollTo('bottom_of_activity_das')" >
    </p>
    <ion-list class="list-content" *ngIf="activities.length > 0">
       
        <ion-item [ngClass]="{active: activity.sub_activity_checked }" *ngFor="let activity of activities">
            <ion-avatar item-start (click) ="goToCorrespondActivity(activity)" >
                <img src="assets/icon/white-icon-checklist.svg" alt="icon" 
                *ngIf=" activity.eloquent_tree == 'checklist' ||  activity.eloquent_tree == 'checklist_create_update' || activity.eloquent_tree == 'checklist_assigned_to' || activity.eloquent_tree == 'checklist_update' ||  activity.eloquent_tree == 'checklist_complete' || activity.eloquent_tree == 'checklist_delete' " />
                <img src="assets/icon/white-icon-{{ activity.eloquent }}.svg" alt="icon"
                *ngIf=" activity.eloquent_tree != 'checklist' &&  activity.eloquent_tree != 'checklist_create_update' && activity.eloquent_tree != 'checklist_assigned_to' && activity.eloquent_tree != 'checklist_update' &&  activity.eloquent_tree != 'checklist_complete' && activity.eloquent_tree != 'checklist_delete' " />
            </ion-avatar>
            <div class="contentarea">
              
                <div class="desc accordian-head" (click)="toggleGroup(activity)">
                    <div class="description-panel" [innerHTML] = " activity.activityFormatted ">
                    </div>
                    <div class="acc-icon" *ngIf="activity.sub_activity"  ><i></i></div>
                </div>
                <div *ngIf="activity.sub_activity_checked" class="contentarea-acc-panel">
                    <div class="desc" [innerHTML] = " activity.sub_activity ">
                    </div>
                </div>
                <p class="notified-mail" *ngIf="activity.notified_users "><span class="notified-msg" (click)="toggleNotify(activity)">({{ activity.notified_message }}</span>
                  <span *ngIf="activity.notified_users_checked" class="notified-users"> - {{ activity.notified_users }}</span>)</p>
            </div>
        </ion-item>
    </ion-list> 
    <p class="no-records-found" *ngIf="!showSpinner && activities.length == 0">No Records Found!.</p>
    <img src="assets/icon/arrow-up-scroll.svg" id="bottom_of_activity_das" width="" height="" *ngIf="activities.length > 0"  class="bottomarrowimage" (click) = "scrollTo('top_of_activity_das')" >
    <div class="spinner center" *ngIf="showSpinner" ><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
    <ion-infinite-scroll  threshold="200px"  (ionInfinite)="doInfinite($event)" *ngIf="currentPage <= totalPages" >
       <ion-infinite-scroll-content></ion-infinite-scroll-content>
     </ion-infinite-scroll>
</ion-content>