<ion-menu  persistent="true" id="mainmenumore" [content]="mycontent" side="right" (ionClose)="menuClosed()"  swipeEnabled="false">
    
	<ion-content [ngClass]="{'isinmoremenu': isMoreMenu}">
		<ion-list *ngIf="!isMoreMenu">
			 
			<button ion-item menuClose (click)="goToProfile()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/profile.svg" /></i>Profile</p>
			</button>
			<button ion-item menuClose (click)="goTocontact()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/contactus.svg" /></i>Contact us</p>
			</button>
			<button ion-item menuClose (click)="goToPrivacyPolicy()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/privacy.svg" /></i>Privacy Policy</p>
			</button>
			<button ion-item menuClose (click)="goToTermsService()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/term.svg" /></i>Terms of Service</p>
			</button>
			<button ion-item menuClose (click)="logout()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/exit.svg" /></i>Logout</p>
			</button>
		</ion-list>

		<ion-list *ngIf="isMoreMenu">
			<button ion-item menuClose (click)="goToSaved()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/home-saved-search-white.svg" /></i>Saved</p>
			</button>
			<button ion-item menuClose (click)="goToFavorites()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/heart-white.svg" /></i>Favorites</p>
			</button>
			<button ion-item menuClose (click)="goToFeatured()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/list-white.svg" /></i>Featured</p>
			</button>
			<button ion-item menuClose (click)="goToProperties()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/icon-properties-white-new-two.svg" /></i>Properties</p>
			</button>
<!-- 			<button ion-item menuClose (click)="goToHomeSearch()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/home.svg" /></i>Home Search</p>
			</button> -->
			<button ion-item menuClose (click)="openPage(8)" [ngClass]="{'active': currentActiveTab == 8}"  > 
				<p class="menu__item mailicon"><i><img width="15" src="assets/icon/white-icon-mail.svg" /></i>Mails</p>
			</button>
			<!--7 8 -->
			<button ion-item menuClose (click)="openPage(7)" [ngClass]="{'active': currentActiveTab == 7}" > 
				<p class="menu__item taskicon"><i><img width="20" src="assets/icon/white-icon-checklist.svg" /></i>Tasks</p>
			</button>
			<!--6 7 -->
			<button ion-item menuClose (click)="openPage(6)" [ngClass]="{'active': currentActiveTab == 6}"> 
				<p class="menu__item documenticon"><i><img width="15" src="assets/icon/white-icon-document.svg" /></i>Documents</p>
			</button>
<!-- 			<button class="hideforcustomer" ion-item menuClose (click)="openPage(5)" [ngClass]="{'active': currentActiveTab == 5}"> 
				<p class="menu__item documenticon"><i><img width="15" src="assets/imgs/icon-tickets-white.svg" /></i>Tickets</p>
			</button> -->
			<button class="hideforcustomer" ion-item menuClose (click)="goToActivities()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/icon-activities-white.svg" /></i>Activities</p>
			</button>
			<button class="hassmall" ion-item menuClose (click)="goToAppfolio()"> 
				<p class="menu__item "><i><img width="15" src="assets/imgs/dollar-white.svg" /></i> <span> <span> Owner Statement</span> <small>- Powered by appfolio</small> </span> </p>
			</button>
		</ion-list>

<!-- 		<ion-list *ngIf="isMoreMenu === false && isHomeSearchMoreMenu === true">
			<button ion-item menuClose (click)="goToProperties()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/icon-properties-white-new-two.svg" /></i>Properties</p>
			</button>
		</ion-list> -->
		<div class="logo"><img src="assets/imgs/Taigha-Logo_Smal.png" width="97" height="97" /></div>
	</ion-content>

</ion-menu>

<ion-menu persistent="true" [content]="mycontent"  id="isHomeSearchMoreMenu" side="right" (ionOpen)="rightsidemenuopen()" (ionClose)="rightmenuClosed()"  swipeEnabled="false">
    
	<ion-content class="isinmoremenu">

		<ion-list>
            <button  class="removeit" ion-item menuClose (click)="goToProperties()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/icon-properties-white-new-two.svg" /></i>Properties</p>
			</button>
			<button  class="removeit" ion-item menuClose (click)="openPageTasks()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/white-icon-checklist.svg" /></i>Tasks</p>
			</button>
			<button  class="removeit" ion-item menuClose (click)="openPageMails()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/white-icon-mail.svg" /></i>Mails</p>
			</button>
            <button  class="removeit" ion-item menuClose (click)="openPageDocuments()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/white-icon-document.svg" /></i>Documents</p>
			</button>
			<button class="removeit" ion-item menuClose (click)="goToActivities()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/icon-activities-white.svg" /></i>Activities</p>
			</button>
			<button  class="removeit" ion-item menuClose (click)="goToTickets()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/icon-tickets-white.svg" /></i>Tickets</p>
			</button>
			<button  class="hideforCustomerandUser " style="display: none;" ion-item menuClose (click)="openPageMessage()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/sms.svg" /></i>Text Messages</p>
			</button>
			<button ion-item menuClose (click)="goToFeatured()"> 
				<p class="menu__item"><i><img width="15" src="assets/imgs/list-white.svg" /></i>Featured</p>
			</button>
		</ion-list>
		<div class="logo"><img src="assets/imgs/Taigha-Logo_Smal.png" width="97" height="97" /></div>
	</ion-content>

</ion-menu>



	 <ion-menu  persistent="true" [content]="mycontent" id="homesearchMenu" (ionClose)="menuClosed()" side="left"  swipeEnabled="false">
      <ion-header>
        <ion-toolbar>
          <i><img width="150" src="assets/imgs/brand.svg" /></i>
        </ion-toolbar>
<!--               <span class="version">Testing 3.3</span> -->
     <!--  <span class="version">Version 4.5</span> -->
      <span class="version">Version 5.4.3</span>
      </ion-header>
      <ion-content>
<ion-grid id="dynamicprofile" class="menu-profile">
  <ion-row>
    <ion-col no-padding>
      <i><img width="165" src="{{avatar}}" /></i>
    </ion-col>
    <ion-col  col-9>
       <h3 class="profile-title">{{name}}</h3>
       <h4 class="profile-info">{{email}}</h4>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-list>
     <ion-item class="removeit">
	    <button ion-item menuClose="homesearchMenu"   (click)="goToDashboard()" > 
			<p><i><img width="17" src="assets/imgs/dashboard.svg" /></i>Dashboard</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose   (click)="goToSellers()" > 
			<p><i><img width="17" src="assets/imgs/seller.svg" /></i>Sellers</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose   (click)="goToBuyers()" > 
			<p><i><img width="17" src="assets/imgs/iconmonstr-customer-10.svg" /></i>Buyers</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose   (click)="goToInvestors()" > 
			<p><i><img width="17" src="assets/imgs/investor.svg" /></i>Investors</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose    (click)="goToForrent()"> 
			<p><i><img width="17" src="assets/imgs/real-estate.svg"/></i>For Rent</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose> 
			<p><i><img width="17" src="assets/imgs/bank.svg" /></i>Property Management</p>
		</button>
	 </ion-item>
	 <div class="submenu-panel">
			 <ion-item>
			    <button ion-item menuClose    (click)="goToWhatwedo()"> 
					<p><i><img width="17" src="assets/imgs/whatwedo.svg" /></i>What We Do</p>
				</button>
			 </ion-item>
			 <ion-item>
			    <button ion-item menuClose   (click)="goToOwners()"> 
					<p><i><img width="17" src="assets/imgs/boy.svg" /></i>Owners</p>
				</button>
			 </ion-item>
			 <ion-item>
			    <button ion-item menuClose   (click)="goToTenants()"> 
					<p><i><img width="17" src="assets/imgs/tenant.svg" /></i>Tenants</p>
				</button>
			 </ion-item>
	 </div>
	 <ion-item  class="removeit">
	    <button ion-item menuClose  (click)="goToProfile()"> 
			<p><i><img width="17" src="assets/imgs/profile.svg" /></i>Profile</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item  menuClose="homesearchMenu" (click)="goToAboutUs()"> 
			<p><i><img width="17" src="assets/imgs/aboutus.svg" /></i>About Us</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose  (click)="goTocontact()"> 
			<p><i><img width="17" src="assets/imgs/contactus.svg" /></i>Contact Us</p>
		</button>
	 </ion-item>

	 <ion-item>
	    <button ion-item menuClose  (click)="goToPrivacyPolicy()"> 
			<p><i><img width="17" src="assets/icon/privacy.svg" /></i>Privacy Policy</p>
		</button>
	 </ion-item>
	 <ion-item>
	    <button ion-item menuClose   (click)="goToTermsService()"> 
			<p><i><img width="17" src="assets/icon/term.svg" /></i>Terms of Service</p>
		</button>
	 </ion-item>

	 <ion-item class="signin-hs">
	    <button ion-item menuClose (click)="login()"> 
			<p><i><img width="17" src="assets/imgs/login-white.svg" /></i>
				<span>Sign In</span></p>
		</button>
	 </ion-item>
	 <ion-item  class="signout-hs">
	    <button ion-item menuClose (click)="logout()"> 
			<p><i><img width="17" src="assets/imgs/logout.svg" /></i>
				<span>Sign Out</span></p>
		</button>
	 </ion-item>
</ion-list>
      </ion-content>
	 </ion-menu>
<ion-nav #mycontent menuClose  [root]="rootPage" swipeBackEnabled="false"></ion-nav>

<!-- 			<button ion-item menuClose (click)="goToPrivacyPolicy()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/privacy.svg" /></i>Privacy Policy</p>
			</button>
			<button ion-item menuClose (click)="goToTermsService()"> 
				<p class="menu__item"><i><img width="15" src="assets/icon/term.svg" /></i>Terms of Service</p>
			</button> -->