<ion-header class="header-min taigha-dashboard-header">
    <ion-navbar class="no-right">
        <div class="center">
            <p class="title">
                <span class="title-head">Ticket Summary</span>
            </p>
            <i class="back_icon right" (click)="goBack()"></i>
        </div>
    </ion-navbar>
</ion-header>
           
<!-- #content -->
<ion-content padding class="taigha-dashboard bg-white" >
	<div class="panel" *ngIf="IsStaffCheck != 0">
		<ion-grid>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines  class="hasClick" (click)="openSelecttemplate('template')">
                <ion-label>Email Template</ion-label>
          <ion-select class="filter-select" placeholder="Select" [(ngModel)]="TicketTemplate"  (ionChange)="changeTemplate()">
            <ion-option  *ngFor="let template of templates" value="{{template.id}}">{{template.title}}</ion-option>
          </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines class="hasClick" (click)="openSelecttemplate('property')">
                <ion-label>Property</ion-label>
                <ion-select class="filter-select" [(ngModel)]="TicketProperty" placeholder="Select">
                  <ion-option value="{{ property.id }}" *ngFor=" let  property of properties  ">{{ property.address }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding  class="inline-list inline-select">
              <ion-item no-padding no-line class="hasClick" (click)="openSelecttemplate('group')">
                <ion-label>Group *</ion-label>
                <ion-select class="filter-select" placeholder="Select"  [(ngModel)]="TicketGroup"  (ionChange)="changeGroup()">
                  <ion-option value="{{ group.id }}" *ngFor=" let group of groups  ">{{ group.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines class="hasClick" (click)="openSelecttemplate('staff')">
                <ion-label>Staff</ion-label>
                  <ion-select class="filter-select" placeholder="Select" [(ngModel)]="TicketStaff">
                    <ion-option value="{{ user.id }}" *ngFor=" let  user of users  ">{{ user.first_name }} {{ user.last_name }}</ion-option>
                  </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select" >
               <ion-item no-padding no-lines>
                <ion-label>Priority</ion-label>
                <ion-select class="filter-select" placeholder="Select"  [(ngModel)]="TicketPriority">
                  <ion-option value="{{ priority.id }}" *ngFor=" let  priority of priorities  ">{{ priority.priority }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines>
                <ion-label>Status</ion-label>
                <ion-select class="filter-select" placeholder="Select"  [(ngModel)]="TicketStatus">
                  <ion-option value="{{ stat.id }}" *ngFor=" let  stat of status  ">{{ stat.status }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row  no-line  *ngIf="ticket.ticket_type != 'customer'">
          <ion-col col-12 no-padding  class="inline-list inline-select" no-line>
        <ion-item no-padding no-line>
           <ion-label>Class</ion-label>
          <ion-select class="filter-select" placeholder="Class"   [(ngModel)]="TicketClass">
            <ion-option value="Bug">Bug</ion-option>
            <ion-option value="Enhancement">Enhancement</ion-option>
            <ion-option value="Feature">Feature</ion-option>
            <ion-option value="Question">Question</ion-option>
          </ion-select>
        </ion-item>
          </ion-col>
      </ion-row>
        <ion-row no-line  *ngIf="ticket.ticket_type != 'customer'">
            <ion-col col-12 no-padding  class="inline-list">
               <ion-label>Version</ion-label>
               <ion-input placeholder=""  [(ngModel)]="TicketVersion"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines>
                <ion-label>Access</ion-label>
                  <ion-select class="filter-select" placeholder="Select" [disabled]="!accessibleUsers" multiple="true" [(ngModel)]="TicketAccess">
                    <ion-option value="{{ access.id }}" *ngFor=" let  access of accessibleUsers  ">{{ access.first_name }} {{ access.last_name }}</ion-option>
                  </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
<!--         <ion-row no-line>
            <ion-col col-12 no-padding  class="inline-list">
               <ion-label>Access</ion-label>
               <ion-input placeholder=""></ion-input>
            </ion-col>
        </ion-row> -->
    </ion-grid>
   </div>

  <div class="panel" *ngIf="IsStaffCheck == 0">
    <ion-grid>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select">
               <ion-item no-padding no-lines class="hasClick" (click)="openSelecttemplate('property')">
                <ion-label>Property</ion-label>
                <ion-select class="filter-select" [(ngModel)]="TicketProperty" placeholder="Select">
                  <ion-option value="{{ property.id }}" *ngFor=" let  property of properties  ">{{ property.address }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line>
            <ion-col col-12 no-padding class="inline-list inline-select" >
               <ion-item no-padding no-lines>
                <ion-label>Priority</ion-label>
                <ion-select class="filter-select" placeholder="Select"  [(ngModel)]="TicketPriority">
                  <ion-option value="{{ priority.id }}" *ngFor=" let  priority of priorities  ">{{ priority.priority }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
        </ion-row>
        <ion-row no-line >
          <ion-col col-12 no-padding>
             <ion-label>CC</ion-label>
          </ion-col>
          <ion-col col-12 no-padding class="inline-list">
             <ion-input placeholder="CC"   [(ngModel)]="TicketCC"></ion-input>
          </ion-col>
        </ion-row>
    </ion-grid>
   </div>
</ion-content>
   <div class="float-btn">
   	  <button color="primary" *ngIf="IsStaffCheck != 0" (click)="chooseTemplate()">Apply</button>
      <button color="primary" *ngIf="IsStaffCheck == 0" (click)="chooseTemplateCus()">Apply</button>
   </div>

