<ion-header class="header-min taigha-dashboard-header">
    <ion-navbar class="no-right">
        <div class="center">
            <p class="title">
                <span class="title-head">Select Template</span>
            </p>
            <i class="back_icon right" (click)="goBack()"></i>
        </div>
    </ion-navbar>
</ion-header>
           
<!-- #content -->
<ion-content padding class="taigha-dashboard bg-white" >
	<div class="panel">
   <ion-grid>
      <ion-row>
        <ion-col col-12 no-padding class="inline-list inline-select">
           <ion-searchbar type="text" [(ngModel)]="searchTerm" (ionInput)="searchtag()" (ionClear)="resetChanges()" ></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="templates.length != 0">
		<ion-list radio-group [(ngModel)]="selectedTemplate">
		  <ion-item  *ngFor="let temp of templates">
		    <ion-label>{{temp.title}}</ion-label>
		    <ion-radio [value]="temp.body"></ion-radio>
		  </ion-item>
		</ion-list>
      </ion-row>
   </ion-grid>

   </div>
</ion-content>
   <div class="float-btn">
   	  <button color="primary" (click)="chooseTemplate()">Apply</button>
   </div>

