page-forget-password {
ion-content.bg-white.content {
    background-color: #fff;
}
p.forgot-text{
text-align: left;
    font-size: 15px;
    padding: 0 15px;

}
}
.forgotsuccess p { padding: 5px 10px; white-space: normal; color: #0b840d; font-weight: bold; border: 2px dotted #0b840d; }
.forgoterror p { padding: 5px 10px; white-space: normal; color: #e60404; font-weight: bold; border: 2px dotted #e60404; }