<ion-header padding-left padding-right class="has-three-col homesearch">
    <ion-grid class="white-header">
      <ion-row>
        <ion-col no-padding class="hdr-left">
<!--           <img src="assets/imgs/arrow-left.svg" width="15" height="15" (click)="goToStartnow()" /> -->
        </ion-col>
        <ion-col no-padding class="hdr-center">
          <div class="title-panel" text-center>
            <a href="javascript:;" style="white-space: nowrap;">Reset your password?</a>
          </div>
        </ion-col>
        <ion-col no-padding class="hdr-right fixed-arrow">
          <img src="assets/imgs/close-white-bluebg.svg" width="20" height="20" (click)="dismissModalx()" />
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>
<ion-content padding  class="bg-white">
    <ion-grid>
      <form [formGroup] = "login" (ngSubmit) = "doReset()" >
        <ion-row justify-content-center>
            <ion-col align-self-center no-padding>
                <div text-center>
                    <!-- <img col-6 class="center" [src]="/brand.png" /> -->
                  <!--   <img class="brand" src="assets/imgs/Taigha-Logo-Full-Blue.png" width="215" height="76" /> -->
                  <p class="forgot-text">Please enter your email address. You will receive a link to create a new password.</p>
                </div>
                <div no-padding class="login-panel">
                    <ion-item [class.invalid]="!login.controls.email.valid && (login.controls.email.dirty)">
                        <ion-label  class="field-label d-block">
                            <ion-icon class="mail"></ion-icon>E-mail</ion-label>
                        <ion-input type="email"   formControlName="email"></ion-input>   
                    </ion-item>
                    <ion-item *ngIf="resetsent && !success"  class="forgoterror">
                    	<p>{{ message }}</p>
                    </ion-item>
                    <ion-item *ngIf="resetsent && success" class="forgotsuccess">
                    	<p>{{ message }}</p>
                    </ion-item>
                    <ion-item>
                        <button ion-button block text-uppercase color="secondary" [disabled]="!login.valid">Reset Password</button>
                    </ion-item> 
                    <!-- Back to login -->
<!--           <ion-item><ion-label text-center class="f-pwd" (click)="signIn()" >Back to login </ion-label></ion-item> -->
      <!--                         <ion-item><ion-label text-center class="f-pwd" (click)="signUp()" >Create an account</ion-label></ion-item> -->

                </div>
            </ion-col>
        </ion-row>
       </form>
    </ion-grid>
</ion-content>