page-view-image {
ion-header {
    background-color: #284C95 !important;
    color: #fff;
    text-align: center;
    font-size: 12px;
    img:first-child{
    	    filter: brightness(10);
    	    margin-left: 10px;
    	}
    img:last-child{
        filter: brightness(10);
        margin-right: 10px;
    }
        .title-head{
            font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
        white-space: nowrap;
            width: 200px;
        }
}
ion-content.viewimage-content {
  background-color: #ffffff !important;
  .scroll-content{
      padding: 0!important;
    }
  .propety-gallery{
    // ion-slide{
    // 	align-items: flex-end;
    // }
    // ion-slides{
    // 	ion-slide{
    // 		img{
    // 			padding: 2px;
    // 		}
    // 	}
    // }
    ion-grid{
      .col-12{
        flex: 0 0 100%;width: 100%;max-width: 100%;
      }
      .col-6{
        flex: 0 0 50%;width: 50%;max-width: 50%;
      }
    	figure{
    		margin: 3px !important;
    	}
    }
  }
}
}
image-viewer{
	ion-header{
		button{
			display: block !important;
			.back-button-icon{
				&:before{
    content: '';
    background-image: url(../assets/imgs/close-white.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
        margin: 0px 0px 0 10px;
				}
			}
            .back-button-text{
                display: none;
            }
		}
	}
ion-backdrop {
    opacity: 0.8 !important;
}
}
