page-signup {
ion-content{
	background-color: #fff !important;
	ion-select{
    background-color: rgba(241, 241, 241, 0.3);
    border: 1px solid rgba(199, 199, 199, 0.3);
    border-radius: 8px;
    padding: 0 15px;
    margin: 5px 0;
    width: 100%;
    font-size: 15px;
    color: #3F4768;
    max-width: 100%;
    display: flex;
    align-items: center;
    .select-text{
    padding: 0;
    width: calc(100% - 8px);
    }
	}

.select-icon .select-icon-inner {
    top: 50%;
    margin-top: -5px !important;
    position: absolute;
    width: 0;
    height: 0;
    color: rgba(191, 191, 191, 0.65) !important;
    pointer-events: none;
    border-top: 13px solid !important;
    border-right: 13px solid transparent !important;
    border-left: 13px solid transparent !important;
    left: -20px !important;
}
	.custom-checkbox{
		ion-label {
		    overflow: visible;
		    text-overflow: unset;
		    white-space: initial;
		}
		a{
			color: $blue;
			text-decoration: initial;
		}
	}
	p{
		color: $bluegrey !important;
		a{
			color: $blue;
		}
	}
    .wall-figure {
	    margin: 0;
	    height: 230px;
	    margin-bottom: 50px;
	    img{
		    width: 100%;
		    height: 100%;
		    object-fit: cover;
	    }
    }
    .btn{
    	max-width: 225px;
    	margin: 0 auto;
      &.btn-hasicon{
        position: relative;
        .btn-icon {
          position: absolute;
          left: 40px;
      }
      }
    }
    .or{
    	font-size: 13px;
    	color: #8D8D8D;
    }
    .secondary-btn{
    	background-color: #E8F0FF !important;
    	color: #3F4768 !important;
    }
    ion-item {
    	p{
	    	margin: 15px 0 0 0 !important;
	    	text-align: center;
        }
        .comment{
        	height: 80px;
        }
    }
        .inline-items{
			display: inline-flex;
			width: 100%;
			.passwordtext{
			   padding: 0;
			   text-align: right;
			}
        }
    form{
    	ion-list{
    		margin-bottom: 0 !important;
    	}
    }
    .btn-ios {
        background: #000 !important;
    color: #fff !important;
    border-radius: 5px !important;
    }
    .btn-facebook {
        img {
            width: 22px !important;
            left: 50px !important; 
        }
        border-radius: 5px !important;
    }
    .btn-fb {
        background-color: #3a5896 !important;
        color: #fff !important;
    }
    .btn-gplus {
        background-color: #de4e3c !important;
        color: #fff !important;
    }
}
}
.signuppage 
{
	.select { max-width: 100%; width: 100%; border: 1px solid #c8c7cc; }
	.brand { margin: 10px 0 15px; }
	.margin-top-ten { margin-top: 10px; }
	.error .label {
		max-width: 100%; color: #f71822; float: left; width: 100%; flex: none; margin: 0 0 8px 0;     white-space: normal;
	}
}
